<!DOCTYPE html>
<html>
<head>
	<title> {{ title }}</title>
</head>
<body>
<header>
	<a href="/">Home</a>
</header>
<section>
	<form method="POST" action="/add-to-do">
	<p>
	<input  name="title" type="text" placeholder="Nombre del anuncio"  /></p>
	<p>
	<textarea name="description" placeholder="Descripción del anuncio"></textarea>
	</p>
	<p>
	<input  name="address" type="text" placeholder="Dirección"  /></p>
	<p>
	<select name="city">
		<option value="-1" selected="selected">Selecciona</option>
		<option value="1">Ciudad de México</option>
		<option value="2">Guadalajara</option>
		<option value="3">Monterrey</option>
	</select>
	</p>
	<p>
	<input  name="country" type="text" placeholder="Pais"  />
	</p>
	<p>
	<button type="submit">Crear</button>	
	</p>
</form>
</section>
<footer></footer>


</body>
</html>