<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body>
<a href="/log-in">Inicia Sesión</a>
<p/>
<a href="/sign-up">Registrate</a>
<p/>
<ul>
<!-- {% for d in data %}
  <li{% if loop.first %} class="first"{% endif %}>
    {{ d.username }} | {{ d.password }} | {{ d.createdOn | date('Y-m-d') }}
  </li>
{% endfor %} -->
{% for d in data %}
  <li{% if loop.first %} class="first"{% endif %}>
    {{ d.name }} | {{ d.uuid }} | {{ d.createdOn | date('Y-m-d') }}
  </li>
{% endfor %}
</ul>
</body>
</html>