<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
</head>
<body>
<header>
<h2> Usuario </h2>
	<a href="/main">Home</a>
	<a href="/add-listing"><h2>Crear Anuncio</h2></a>
	<a href="/city/{{city}}"><h2>{{ city }}</h2></a>
</header>
<section>


	<p>
	{{user.displayName}}
	</p>
	{{user.email}}
	</p>
	<p>
	Miembro desde {{user.createdOn | date('Y-m-d')}}
	</p>
	<p>
	Anuncios Creados por este Usuario
	<br/>	
	<ul>	
		{% for post in list %}

		<li><a href="/city/{{city}}/{{post.uuid}}"> {{post.title}}	</a>  </li>

		{% endfor%}
	</ul>
</p>


</section>
<footer></footer>

</body>
</html>