<!DOCTYPE html>
<html>
<head>
	<title>BeansBnb</title>
	<link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.css">
</head>
<body>
	<div class="container">

		<div class="jumbotron">
			<h1>BeansBnb</h1>
		</div>
	
		<!-- <div class="container"> -->
			<div class="row maketing">
				<div class="col-lg-6" >
					<a href="/log-in">Inicia Sesión</a>
				</div>
			
				<div class="col-lg-6">
					<a href="/sign-up">Registrate</a>
				</div>
			</div>
		<!-- </div> -->

	</div>

	
		
	


		
	<!-- <ul>
	{% for d in data %}
	  <li{% if loop.first %} class="first"{% endif %}>
	    {{ d.username }} | {{ d.password }} | {{ d.createdOn | date('Y-m-d') }}
	  </li>
	{% endfor %}
	{% for d in data %}
	  <li{% if loop.first %} class="first"{% endif %}>
	    {{ d.name }} | {{ d.uuid }} | {{ d.createdOn | date('Y-m-d') }}
	  </li>
	{% endfor %}
	</ul> -->
	
</body>
</html>